<aside class="advisory-card {% if include.column %} {{ include.column }}{% endif %}">
   <header>
   <img src="/img/comitee/{{ include.avatarurl }}">
    <h5>{{ include.profilename }}
{% if include.homepage %}<a href="{{ include.homepage }}"><i class="fa fa-home fa-vc" style="position: relative; top: -3px; text-indent:0px; "></i></a>{% endif %}
{% if include.twitter %} <a href="https://twitter.com/{{ include.twitter }}"><i class="fa fa-twitter" style="position: relative; top: -5px;text-indent:0px;  vertical-align: middle;"></i></a> {% endif %}
{% if include.git %} <a href="https://github.com/{{ include.git }}"><i class="fa fa-github" style="position: relative; top: -5px; text-indent:0px;  "></i></a>{% endif %}
{% if include.researchgate %} <a href="https://www.researchgate.net/profile/{{ include.researchgate }}"> <i class="ai ai-researchgate fa-vc" style="  margin-bottom: -50px;position: relative; top: -5px;text-indent:0px;"  ></i></a>{% endif %} </h5>
	<h6>{{ include.affiliation }}</h6>
    <h6 style="font-weight: bold"> <a href="{{ include.talk_link }}" target="_blank">{{ include.talk_title }}</a></h6>
   </header>
</aside>


